# noop Thu 25 Sep 2025 10:09:08 AEST

actions-runner/


# ignore self-hosted runner binaries
actions-runner/
**/externals/node*/bin/node
*.tar.gz

# ignore self-hosted runner binaries
actions-runner/
**/externals/node*/bin/node
*.tar.gz

**/__pycache__/
*.py[cod]
